---
http_interactions:
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/volumes/?api_key=<API_KEY>&filter=name:foo&format=json&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":100,"number_of_total_results":158,"status_code":1,"results":[{"aliases":null,"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/volume\/4050-3845\/","count_of_issues":6,"date_added":"2008-06-06
        11:08:17","date_last_updated":"2012-05-05 03:15:24","deck":null,"description":"<p>From  the
        popular TV series, Foofur got his very  own comic-book series as part of Marvel
        Comics'' Star Comics imprint. It lasted for only 6 issues.<\/p>","first_issue":{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/issue\/4000-94610\/","id":94610,"name":null,"issue_number":"1"},"id":3845,"image":{"icon_url":"https:\/\/comicvine.gamespot.com\/api\/image\/square_avatar\/61615-3845-94610-1-foofur.jpg","medium_url":"https:\/\/comicvine.gamespot.com\/api\/image\/scale_medium\/61615-3845-94610-1-foofur.jpg","screen_url":"https:\/\/comicvine.gamespot.com\/api\/image\/screen_medium\/61615-3845-94610-1-foofur.jpg","screen_large_url":"https:\/\/comicvine.gamespot.com\/api\/image\/screen_kubrick\/61615-3845-94610-1-foofur.jpg","small_url":"https:\/\/comicvine.gamespot.com\/api\/image\/scale_small\/61615-3845-94610-1-foofur.jpg","super_url":"https:\/\/comicvine.gamespot.com\/api\/image\/scale_large\/61615-3845-94610-1-foofur.jpg","thumb_url":"https:\/\/comicvine.gamespot.com\/api\/image\/scale_avatar\/61615-3845-94610-1-foofur.jpg","tiny_url":"https:\/\/comicvine.gamespot.com\/api\/image\/square_mini\/61615-3845-94610-1-foofur.jpg","original_url":"https:\/\/comicvine.gamespot.com\/api\/image\/original\/61615-3845-94610-1-foofur.jpg","image_tags":"All
        Images"},"last_issue":{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/issue\/4000-94615\/","id":94615,"name":null,"issue_number":"6"},"name":"Foofur","publisher":{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/publisher\/4010-3427\/","id":3427,"name":"Star
        Comics"},"site_detail_url":"https:\/\/comicvine.gamespot.com\/foofur\/4050-3845\/","start_year":"1987"},{"aliases":null,"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/volume\/4050-4395\/","count_of_issues":10,"date_added":"2008-06-06
        11:08:19","date_last_updated":"2016-12-15 06:10:53","deck":"Volume 1.","description":"<p>A
        ten issue series that follows the second (most well-known) Foolkiller <a href=\"https:\/\/comicvine.gamespot.com\/foolkiller-salinger\/4005-32926\/\">Gregory
        Salinger <\/a>and his proteg\u00e9 <a href=\"https:\/\/comicvine.gamespot.com\/foolkiller-kurt-gerhardt\/4005-81513\/\"
        data-ref-id=\"4005-81513\">Kurt Gerhardt <\/a>(the third Foolkiller).<\/p><h4>Collected
        Editions<\/h4><ul><li><a href=\"https:\/\/comicvine.gamespot.com\/marvel-firsts-the-1990s-1-volume-1\/4000-526058\/\"
        data-ref-id=\"4000-526058\">Marvel Firsts: The 1990s Volume 1<\/a> (#1)<\/li><\/ul>","first_issue":{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/issue\/4000-33313\/","id":33313,"name":"Mad...
        As In Angry","issue_number":"1"},"id":4395,"image":{"icon_url":"https:\/\/comicvine.gamespot.com\/api\/image\/square_avatar\/29966-4395-33313-1-foolkiller.jpg","medium_url":"https:\/\/[...]
