---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series?apikey=<PUBLIC_KEY>&hash=78554f565f77154710e3a8bce8fba862&offset=0&titleStartsWith=foo&ts=1529234102
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 925fc1b1aead62469e057d1fe17c94da956396a9
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","copyright":"© 2018 MARVEL","attributionText":"Data
        provided by Marvel. © 2018 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
        provided by Marvel. © 2018 MARVEL</a>","etag":"925fc1b1aead62469e057d1fe17c94da956396a9","data":{"offset":0,"limit":20,"total":6,"count":6,"results":[{"id":2819,"title":"Foolkiller
        (2007 - 2008)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/2819","urls":[{"type":"detail","url":"http://marvel.com/comics/series/2819/foolkiller_2007_-_2008?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"}],"startYear":2007,"endYear":2008,"rating":"EXPLICIT
        CONTENT","type":"limited","modified":"-0001-11-30T00:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/3/60/4bc392662c076","extension":"jpg"},"creators":{"available":7,"collectionURI":"http://gateway.marvel.com/v1/public/series/2819/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/5251","name":"Joe
        Caramagna","role":"letterer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/452","name":"Chris
        Eliopoulos","role":"letterer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/529","name":"June
        Chung","role":"colorist"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/1405","name":"Matt
        Milla","role":"colorist"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/4267","name":"Andy
        Troy","role":"colorist"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/5147","name":"Gregg
        Hurwitz","role":"writer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/437","name":"Lan
        Medina","role":"penciller (cover)"}],"returned":7},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/series/2819/characters","items":[],"returned":0},"stories":{"available":10,"collectionURI":"http://gateway.marvel.com/v1/public/series/2819/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/33321","name":"1
        of 5 - Fool''s Paradise","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/33322","name":"1
        of 5 - Fool''s Paradise","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/36152","name":"2
        of 5 - Fool''s Paradise","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/36153","name":"2
        of 5 - Fool''s Paradise","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/36447","name":"3
        of 5 - Fool''s Paradise","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/36448","name":"3
        of 5 - Fool''s Paradise","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/36891","name":"4
        of 5 - Fool''s Paradise","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/36892","name":"4
        of 5 - Fool''s Paradise","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/46863","name":"5
        of 5 - Fool''s Paradise","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/46864","name":"5
        of 5 - Fool''s Paradise","type":"interiorStory"}],"returned":10},"comics":{"available":5,"collectionURI":"http://gateway.marvel.com/v1/public/series/2819/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16524","name":"Foolkiller
        (2007) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17250","name":"Foolkiller
        (2007) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17386","name":"Foolkiller
        (2007) #3"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17630","name":"Foolkiller
        (2007) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/21215","name":"Foolkiller
        (2007) #5"}],"returned":5},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/series/2819/events","items":[],"returned":0},"next":null,"previous":null},{"id":22413,"title":"Foolkiller
        (2016 - Present)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/22413","urls":[{"type":"detail","url":"http://marvel.com/comics/series/22413/foolkiller_2016_-_present?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"}],"startYear":2016,"endYear":2099,"rating":"","type":"","modified":"2018-02-22T15:01:53-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/6/40/5a8f219c832c0","extension":"jpg"},"creators":{"avail[...]
