---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/22413?apikey=<PUBLIC_KEY>&hash=9e27066a506e9f599e3e8304ea0dbcba&ts=1529234105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 8de55e41070e09b94a4098cdd5c8bcdae55a313f
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","copyright":"© 2018 MARVEL","attributionText":"Data
        provided by Marvel. © 2018 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
        provided by Marvel. © 2018 MARVEL</a>","etag":"8de55e41070e09b94a4098cdd5c8bcdae55a313f","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":22413,"title":"Foolkiller
        (2016 - Present)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/22413","urls":[{"type":"detail","url":"http://marvel.com/comics/series/22413/foolkiller_2016_-_present?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"}],"startYear":2016,"endYear":2099,"rating":"","type":"","modified":"2018-02-22T15:01:53-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/6/40/5a8f219c832c0","extension":"jpg"},"creators":{"available":5,"collectionURI":"http://gateway.marvel.com/v1/public/series/22413/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12794","name":"Max
        Bemis","role":"writer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/10432","name":"Dave
        Johnson","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/13027","name":"Darren
        Shan","role":"editor"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8822","name":"Jordan
        White","role":"editor"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/11560","name":"Dalibor
        Talajic","role":"penciller"}],"returned":5},"characters":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/series/22413/characters","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009268","name":"Deadpool"}],"returned":1},"stories":{"available":10,"collectionURI":"http://gateway.marvel.com/v1/public/series/22413/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131775","name":"cover
        from Foolkiller (2016) #1","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131776","name":"story
        from Foolkiller (2016) #1","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131777","name":"cover
        from Foolkiller (2016) #2","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131778","name":"story
        from Foolkiller (2016) #2","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131779","name":"cover
        from Foolkiller (2016) #3","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131780","name":"story
        from Foolkiller (2016) #3","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131781","name":"cover
        from Foolkiller (2016) #4","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131782","name":"story
        from Foolkiller (2016) #4","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131783","name":"cover
        from Foolkiller (2016) #5","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/131784","name":"story
        from Foolkiller (2016) #5","type":"interiorStory"}],"returned":10},"comics":{"available":5,"collectionURI":"http://gateway.marvel.com/v1/public/series/22413/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/60653","name":"Foolkiller
        (2016) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/60654","name":"Foolkiller
        (2016) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/60655","name":"Foolkiller
        (2016) #3"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/60656","name":"Foolkiller
        (2016) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/60657","name":"Foolkiller
        (2016) #5"}],"returned":5},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/series/22413/events","items":[],"returned":0},"next":null,"previous":null}]}}'
  recorded_at: Sun, 17 Jun 2018 11:15:06 GMT
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/comics?apikey=<PUBLIC_KEY>&hash=3be18bc95ff2ec3435fb96d922de0158&limit=100&orderBy=issueNumber&series=2029&ts=1529234106
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 51f8db8d1daba9ee7985c30e96e246ff170e7e24
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","copyright":"© 2018 MARVEL","attributionText":"Data
        provided by Marvel. © 2018 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
        provided by Marvel. © 2018 MARVEL</a>","etag":"51f8db8d1daba9ee7985c30e96e246ff170e7e24","data":{"offset":0,"limit":100,"total":332,"count":100,"results":[{"id":9327,"digitalId":4291,"title":"Iron
        Man (1968) #1","issueNumber":1,"variantDescription":"","description":null,"modified":"2017-09-21T16:12:57-0400","isbn":"","upc":"","diamondCode":"","ean":"","issn":"","format":"Comic","pageCount":0,"textObjects":[],"resourceURI":"http://gateway.marvel.com/v1/public/comics/9327","urls":[{"type":"detail","url":"http://marvel.com/comics/issue/9327/iron_man_1968_1?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"},{"type":"purchase","url":"http://comicstore.marvel.com/Iron-Man-1/digital-comic/4291?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"},{"type":"reader","url":"http://marvel.com/digitalcomics/view.htm?iid=4291&utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"},{"type":"inAppLink","url":"https://applink.marvel.com/issue/4291?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/2029","name":"Iron
        Man (1968 - 1996)"},"variants":[],"collections":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/6255","name":"Marvel
        Masterworks: The Invincible Iron Man Vol. (Hardcover)"}],"collectedIssues":[],"dates":[{"type":"onsaleDate","date":"1968-05-10T00:00:00-0400"},{"type":"focDate","date":"-0001-11-30T00:00:00-0500"},{"type":"unlimitedDate","date":"2007-11-13T00:00:00-0500"},{"type":"digitalPurchaseDate","date":"2014-04-22T00:00:00-0400"}],"prices":[{"type":"printPrice","price":0.12},{"type":"digitalPurchasePrice","price":1.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/e/c0/51b5f6dacc2d1","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/e/c0/51b5f6dacc2d1","extension":"jpg"}],"creators":{"available":6,"collectionURI":"http://gateway.marvel.com/v1/public/comics/9327/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/270","name":"Gene
        Colan","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/1709","name":"Johnny
        Craig","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/1519"[...]
